{% extends 'DirisiWebsiteBundle::layout.html.twig' %}

{% block title %}{{ 'menu.user'|trans }}{% endblock %}

{% block content %}
    <h1>User list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Groups</th>
                <th>Name</th>
                <th>Nickname</th>
                <th>Birthday</th>
                <th>Address</th>
                <th>Zip_code</th>
                <th>City</th>
                <th>Country</th>
                <th>Created_at</th>
                <th>Updated_at_at</th>
                <th>Archive_at</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('dirisi_admin_user_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ dump(entity.groups) }}</td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.nickname }}</td>
                <td>{% if entity.birthday %}{{ entity.birthday|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.address }}</td>
                <td>{{ entity.zipcode }}</td>
                <td>{{ entity.city }}</td>
                <td>{{ entity.country }}</td>
                <td>{% if entity.createdat %}{{ entity.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updatedatat %}{{ entity.updatedatat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.archiveat %}{{ entity.archiveat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('dirisi_admin_user_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('dirisi_admin_user_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('dirisi_admin_user_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
