{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Group</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ entity.createdat|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updated_at_at</th>
                <td>{{ entity.updatedatat|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Archive_at</th>
                <td>{{ entity.archiveat|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Enabled</th>
                <td>{{ entity.enabled }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('dirisi_admin_group') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('dirisi_admin_group_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
